body {
	background-color: #1D2021;
	color: #CC241D !important;
	font-family: "monospace" !important;
	font-size: 60% !important;
}

.container {
	width: 60%;
	margin: 0 auto;
}

a, a:link {
	   color: #EBDBB2 !important;
	   text-decoration: none !important;
}

a:hover {
	color: #98971A !important;
	text-decoration: none !important;
}

li {
	list-style: none;
}

ul {
	text-align: left !important;
	padding-left: 13px !important;
}

ul li {
	list-style: none;
	display: inline;
	text-align: left;
}

ul li:after {
	color: #D79921 !important;
	content: " //" !important;
}

ul li:last-child:after {
	content: "" !important;
}

.right {
	margin-left: 40% !important;
	text-align: left !important;
	padding-left: 0px;
	display: table;

	position: absolute;
	left: 0px;
	top: 35%;
}

.left {
	margin-right: 60% !important;
	text-align: right !important;
	color: #CC241D;
	float: right;
	display: table;

	position: absolute;
	right: 0px;
	top: 35%;
}

ul li#left {
	float: right !important;
}

ul li#left:after {
	content: "" !important;
}

